In [1]:
#add in external features
import pandas as pd
import numpy as np

In [2]:
#import base statistics
df = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\cleaned_data\base_cleaned.csv')

In [3]:
df.head()

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary,startYear,position,height,weight,MP,...,games,games_started,PER,FTr,AST,STL,TRB,FT,3P,FG
0,0,Michael Jordan,1996,30140000,52258566,1985.0,G-F,78.0,198.0,3090.0,...,82.0,82.0,29.4,0.355,352.0,180.0,543.0,548.0,111.0,916.0
1,1,Horace Grant,1996,14857000,25759971,1988.0,F-C,82.0,215.0,2286.0,...,63.0,62.0,17.9,0.306,170.0,62.0,580.0,152.0,1.0,347.0
2,2,Reggie Miller,1996,11250000,19505934,1988.0,G-F,79.0,185.0,2621.0,...,76.0,76.0,20.1,0.467,253.0,77.0,214.0,430.0,168.0,504.0
3,3,Shaquille O'Neal,1996,10714000,18576585,1993.0,C,85.0,325.0,1946.0,...,54.0,52.0,26.4,0.495,155.0,34.0,596.0,249.0,1.0,592.0
4,4,Gary Payton,1996,10212000,17706187,1991.0,G,76.0,180.0,3162.0,...,81.0,81.0,19.6,0.240,608.0,231.0,339.0,229.0,98.0,618.0

In [4]:
#get year ranges
games = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\games.csv')
year = 0
yearRange = []
years = []
for index, row in games.iterrows():
  y = row['seasonStartYear']
  if year != y:
    years.append(y)
    #print("year:",y)
    yearRange.append(row['game_id'])
    #print("start game id:",row['game_id'])
    year = y
yearRange.pop(0)
yearRange.append(30250)
years.pop()
yearRange.pop()
years.pop()
yearRange.pop()

29108

In [5]:
#add in all star
allStar = pd.read_csv(r"C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\Copy of NBA All Star Games.csv")

In [6]:
df["all_star"] = 0
df["all_star_total"] = 0
for i in range(len(years)):
  y = yearRange[i]
  year = years[i]
  players = allStar.loc[(allStar['Year'] == year)]
  names = players.Player.unique()
  for n in names:
    #add in type of selection
    df.loc[(df['playerName'] == n) & (df['seasonStartYear'] == year),'all_star']= players.loc[players['Player'] == n, 'Selection Type'].values[0]
    #add count of all star selections
    df.loc[(df['playerName'] == n) & (df['seasonStartYear'] >= year),'all_star_total'] =  df.loc[(df['playerName'] == n) & (df['seasonStartYear'] >= year),'all_star_total'] + 1

In [7]:
#add in years not in dataset
added = [["Kyrie Irving",2017,"starter"],["DeMar DeRozan",2017,"starter"],["Lebron James",2017,"starter"],["Jimmy Butler",2017,"starter"],["Giannis Antetokounmpo",2017,"starter"],
         ["Stephen Curry",2017,"starter"],["James Harden",2017,"starter"],["Kevin Durant",2017,"starter"],["Kawhi Leonard",2017,"starter"],["Anthony Davis",2017,"starter"],
         ["Isiah Thomas",2017,"reserve"],["John Wall",2017,"reserve"],["Kevin Love",2017,"reserve"],["Carmelo Anthony",2017,"replacement"],["Kyle Lowry",2017,"reserve"],
         ["Paul George",2017,"reserve"],["Kemba Walker",2017,'reserve'],["Paul Milsap",2017,"reserve"], ["Russell Westbrook",2017,"reserve"],["Klay Thompson",2017,"reserve"],
         ["Draymond Green",2017,"reserve"],["DeMarcus Cousins",2017,"reserve"],["Marc Gasol",2017,"reserve"],["DeAndre Jordan",2017,"reserve"],["Gordon Hayward",2017,"reserve"],
         ["Gary Payton",1998,"starter"],["Kobe Bryant",1998,"starter"],["Kevin Garnett",1998,"starter"],["Karl Malone",1998,"starter"],["Shaquille O'Neal",1998,"starter"],
         ["Penny Hardaway",1998,"starter"],["Michael Jordan",1998,"starter"],["Grant Hill",1998,"starter"],["Shawn Kemp",1998,"starter"],["Dikembe Mutombo",1998,"starter"],
         ["Tim Hardaway",1998,"reserve"],["Reggie Miller",1998,"reserve"],["Steve Smith",1998,"reserve"],["Glen Rice",1998,"reserve"],["Antoine Walker",1998,"reserve"],
         ["Jayson Williams",1998,"reserve"],["Rik Smits",1998,"reserve"],["Jason Kidd",1998,"reserve"],["Eddie Jones",1998,"reserve"],["Nick Van Exel",1998,"reserve"],
         ["Mitch Richmond",1998,"reserve"],["Tim Duncan",1998,"reserve"],["Vin Baker",1998,"reserve"],["Tim Hardaway",1998,"reserve"],["David Robinson",1998,"reserve"],
         ["Penny Hardaway",1997,"starter"],["Michael Jordan",1997,"starter"],["Scottie Pippen",1997,"starter"],["Grant Hill",1997,"starter"],["Patrick Ewing",1997,"starter"],
         ["Gary Payton",1997,"starter"],["John Stockton",1997,"starter"],["Charles Barkley",1997,"starter"],["Shawn Kemp",1997,"starter"],["Hakeem Olajuwon",1997,"starter"],
         ["Vin Baker",1997,"reserve"],["Terrell Brandon",1997,"reserve"],["Joe Dumars",1997,"replacement"],["Tim Hardaway",1997,"reserve"],["Christian Laettner",1997,"reserve"],
         ["Alonzo Mourning",1997,"reserve"],["Dikembe Mutombo",1997,"reserve"],["Glen Rice",1997,"reserve"],["Chris Webber",1997,"replacement"],["Clyde Drexler",1997,"reserve"],
         ["Kevin Garnett",1997,"replacement"],["Chris Gatling",1997,"replacement"],["Tom Gugliotta",1997,"reserve"],["Eddie Jones",1997,"reserve"],["Karl Malone",1997,"reserve"],
         ["Shaquille O'Neal",1997,"reserve"],["Mitch Richmond",1997,"reserve"],["Detlef Schrempf",1997,"replacement"],["Letrell Sprewell",1997,"reserve"],
         ["Penny Hardaway",1996,"starter"],["Michael Jordan",1996,"starter"],["Grant Hill",1996,"starter"],["Scottie Pippen",1996,"starter"],["Shaquille O'Neal",1996,"starter"],
         ["Jason Kidd",1996,"starter"],["Clyde Drexler",1996,"starter"],["Charles Barkley",1996,"starter"],["Shawn Kemp",1996,"starter"],["Hakeem Olajuwon",1996,"starter"],
         ["Vin Baker",1996,"reserve"],["Terrell Brandon",1996,"reserve"],["Patrick Ewing",1996,"reserve"],["Juwan Howard",1996,"reserve"],["Reggie Miller",1996,"reserve"],
         ["Alonzo Mourning",1996,"reserve"],["Glen Rice",1996,"reserve"],["Sean Elliot",1996,"reserve"],["Karl Malone",1996,"reserve"],["Dikembe Mutombo",1996,"reserve"],
          ["Gary Payton",1996,"reserve"],["Mitch Richmond",1996,"reserve"],["David Robinson",1996,"reserve"],["John Stockton",1996,"reserve"]
         ]
status = pd.DataFrame(added, columns=['name', 'year','status'])
for index, row in status.iterrows():
  name = row['name']
  year = row['year']
  status = row['status']
  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] == year),'all_star']= status
  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'all_star_total'] =  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'all_star_total'] + 1

In [8]:
df["all_star"].value_counts()

0                                         9970
Eastern All-Star Coaches Selection         119
Western All-Star Coaches Selection         114
Eastern All-Star Fan Vote Selection         84
Western All-Star Fan Vote Selection         83
reserve                                     52
starter                                     35
Eastern All-Star Replacement Selection      15
Western All-Star Replacement Selection      14
replacement                                  6
Name: all_star, dtype: int64

In [9]:
df['all_star'] = df['all_star'].replace(['Eastern All-Star Fan Vote Selection','Western All-Star Fan Vote Selection','Eastern All-Star Coaches Selection',
                                         'Western All-Star Coaches Selection','Eastern All-Star Replacement Selection','Western All-Star Replacement Selection'], 
                                        ['starter','starter','reserve','reserve','replacement','replacement'])
df["all_star"].value_counts()

0              9970
reserve         285
starter         202
replacement      35
Name: all_star, dtype: int64

In [10]:
#encode all star slections
df["all_star_enc"] = df['all_star'].copy()
df['all_star_enc'] = df['all_star_enc'].replace(['starter','reserve','replacement'], 
                                        [3,2,1])

In [11]:
df.head()

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary,startYear,position,height,weight,MP,...,FTr,AST,STL,TRB,FT,3P,FG,all_star,all_star_total,all_star_enc
0,0,Michael Jordan,1996,30140000,52258566,1985.0,G-F,78.0,198.0,3090.0,...,0.355,352.0,180.0,543.0,548.0,111.0,916.0,starter,1,3
1,1,Horace Grant,1996,14857000,25759971,1988.0,F-C,82.0,215.0,2286.0,...,0.306,170.0,62.0,580.0,152.0,1.0,347.0,0,0,0
2,2,Reggie Miller,1996,11250000,19505934,1988.0,G-F,79.0,185.0,2621.0,...,0.467,253.0,77.0,214.0,430.0,168.0,504.0,reserve,1,2
3,3,Shaquille O'Neal,1996,10714000,18576585,1993.0,C,85.0,325.0,1946.0,...,0.495,155.0,34.0,596.0,249.0,1.0,592.0,starter,1,3
4,4,Gary Payton,1996,10212000,17706187,1991.0,G,76.0,180.0,3162.0,...,0.240,608.0,231.0,339.0,229.0,98.0,618.0,reserve,1,2

In [12]:
#add in all_nba
all_nba = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\all_nba_selections.csv')

In [13]:
#clean all_nba data
separator = '-'
y = []
for x in all_nba["year"]:
    y.append(int(x.split(separator, 1)[0]))
#result = my_str.split(separator, 1)[0]
all_nba["year"] = y
#all_nba = all_nba[all_nba['year'] >= 1996]
all_nba = all_nba[all_nba['year'] <= 2017]
all_nba["player1"] = all_nba["player1"].str.replace(" C","")
all_nba["player2"] = all_nba["player2"].str.replace(" F","")
all_nba["player3"] = all_nba["player3"].str.replace(" F","")
all_nba["player4"] = all_nba["player4"].str.replace(" G","")
all_nba["player5"] = all_nba["player5"].str.replace(" G","")

In [14]:
all_nba

,year,league,team,Unnamed: 3,player1,player2,player3,player4,player5
12,2017,NBA,1st,(V),Anthony Davis,LeBron James,Kevin Durant,Damian Lillard,James Harden
13,2017,NBA,2nd,(V),Joel Embiid,Giannis Antetokounmpo,LaMarcus Aldridge,Russell Westbrook,DeMar DeRozan
14,2017,NBA,3rd,(V),Karl-Anthony Towns,Jimmy Butler,Paul George,Stephen Curry,Victor Oladipo
15,2016,NBA,1st,(V),Anthony Davis,LeBron James,Kawhi Leonard,James Harden,Russell Westbrook
16,2016,NBA,2nd,(V),Rudy Gobert,Giannis Antetokounmpo,Kevin Durant,Stephen Curry,Isaiah Thomas
...,...,...,...,...,...,...,...,...,...
199,1948,BAA,2nd,NaN,Bob Feerick,John Logan,Bones McKinney,Arnie Risen,Kenny Sailors
200,1947,BAA,1st,NaN,Howie Dallmar,Bobeerick,Joeulks,Ed Sadowski,Max Zaslofsky
201,1947,BAA,2nd,NaN,Carl Braun,Buddy Jeannette,John Logan,Stan Miasek,Fred Scolari
202,1946,BAA,1st,NaN,Bob Feerick,Joeulks,Bones McKinney,Stan Miasek,Max Zaslofsky
203,1946,BAA,2nd,NaN,Frankie Baumholtz,Ernie Calverley,Chick Halbert,John Logan,Fred Scolari

In [15]:
#add in:
#- all nba team
#- all nba total selections
df["all_nba"] = "n/a"
df["all_nba_enc"] = 0
df["all_nba_total"] = 0
for index, row in all_nba.iterrows():
    year = row["year"]
    team = row["team"]
    enc = 0
    if team == "1st":
        enc = 3
    elif team == "2nd":
        enc = 2
    elif team == "3rd":
        enc = 1
    player1 = row["player1"]
    df.loc[(df['playerName'] == player1) & (df['seasonStartYear'] == year),'all_nba'] = team
    df.loc[(df['playerName'] == player1) & (df['seasonStartYear'] == year),'all_nba_enc'] = enc
    df.loc[(df['playerName'] == player1) & (df['seasonStartYear'] >= year),'all_nba_total'] =  df.loc[(df['playerName'] == player1) & (df['seasonStartYear'] >= year),'all_nba_total'] + 1
    player2 = row["player2"]
    df.loc[(df['playerName'] == player2) & (df['seasonStartYear'] == year),'all_nba'] = team
    df.loc[(df['playerName'] == player2) & (df['seasonStartYear'] == year),'all_nba_enc'] = enc
    df.loc[(df['playerName'] == player2) & (df['seasonStartYear'] >= year),'all_nba_total'] =  df.loc[(df['playerName'] == player2) & (df['seasonStartYear'] >= year),'all_nba_total'] + 1
    player3 = row["player3"]
    df.loc[(df['playerName'] == player3) & (df['seasonStartYear'] == year),'all_nba'] = team
    df.loc[(df['playerName'] == player3) & (df['seasonStartYear'] == year),'all_nba_enc'] = enc
    df.loc[(df['playerName'] == player3) & (df['seasonStartYear'] >= year),'all_nba_total'] =  df.loc[(df['playerName'] == player3) & (df['seasonStartYear'] >= year),'all_nba_total'] + 1
    player4 = row["player4"]
    df.loc[(df['playerName'] == player4) & (df['seasonStartYear'] == year),'all_nba'] = team
    df.loc[(df['playerName'] == player4) & (df['seasonStartYear'] == year),'all_nba_enc'] = enc
    df.loc[(df['playerName'] == player4) & (df['seasonStartYear'] >= year),'all_nba_total'] =  df.loc[(df['playerName'] == player4) & (df['seasonStartYear'] >= year),'all_nba_total'] + 1
    player5 = row["player5"]
    df.loc[(df['playerName'] == player5) & (df['seasonStartYear'] == year),'all_nba'] = team
    df.loc[(df['playerName'] == player5) & (df['seasonStartYear'] == year),'all_nba_enc'] = enc
    df.loc[(df['playerName'] == player5) & (df['seasonStartYear'] >= year),'all_nba_total'] =  df.loc[(df['playerName'] == player5) & (df['seasonStartYear'] >= year),'all_nba_total'] + 1

In [16]:
draft = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\nbaplayersdraft.csv')
draft.head()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7

In [17]:
#draft = draft[draft['year'] >= 1996]
draft = draft[draft['year'] <= 2017]

In [18]:
df["draft_pick"] = 10000
for index, row in draft.iterrows():
    year = row["year"]
    pick = row["overall_pick"]
    name = row["player"]
    sub = df[df['playerName'] == name]
    df.loc[(df['playerName'] == name),'draft_pick'] = pick

In [19]:
league = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\NBA Finals and MVP.csv')
league = league[league['Year'] <= 2017]
league = league[league['Year'] >= 1996]
league.head()

,index,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
46,46,1996,Seattle SuperSonics,Chicago Bulls,2â€“4,Chicago Bulls,Seattle SuperSonics,False,M. Jordan,1.98,6.496063,Guard,Chicago Bulls,US,Champion
47,47,1997,Utah Jazz,Chicago Bulls,2â€“4,Chicago Bulls,Utah Jazz,False,K. Malone,2.06,6.758530,Forward,Utah Jazz,US,Vice-Champion
48,48,1998,Utah Jazz,Chicago Bulls,2â€“4,Chicago Bulls,Utah Jazz,False,M. Jordan,1.98,6.496063,Guard,Chicago Bulls,US,Champion
49,49,1999,San Antonio Spurs,New York Knicks,4â€“1,San Antonio Spurs,New York Knicks,False,K. Malone,2.06,6.758530,Forward,Utah Jazz,US,Not reached Final
50,50,2000,Los Angeles Lakers,Indiana Pacers,4â€“2,Los Angeles Lakers,Indiana Pacers,False,S. O'Neal,2.16,7.086614,Center,Los Angeles Lakers,US,Champion

In [20]:
league['NBA Champion'] = league['NBA Champion'].replace(['Chicago Bulls','San Antonio Spurs','Los Angeles Lakers',
                                         'Detroit Pistons','Miami Heat','Boston Celtics', "Dallas Mavericks","Golden State Warriors","Cleveland Cavaliers"], 
                                        ['CHI','SAS','LAL','DET','MIA','BOS',"DAL","GSW","CLE"])
league['Eastern Champion'] = league['Eastern Champion'].replace(['Chicago Bulls','New York Knicks','Indiana Pacers','Philadelphia 76ers',
 'New Jersey Nets','Detroit Pistons','Miami Heat','Cleveland Cavaliers',
 'Boston Celtics','Orlando Magic'], ['CHI','NYK','IND','PHI','NJN','DET','MIA','CLE','BOS','ORL'])

league['Western Champion'] = league['Western Champion'].replace(['Seattle SuperSonics' ,'Utah Jazz', 'San Antonio Spurs',
 'Los Angeles Lakers' ,'Dallas Mavericks', 'Oklahoma City Thunder',
 'Golden State Warriors'], ['SEA','UTA','SAS','LAL','DAL','OKC','GSW'])

In [21]:
print(league["NBA Champion"].unique())
print(df["team"].unique())
print(league["Eastern Champion"].unique())
print(league["Western Champion"].unique())

['CHI' 'SAS' 'LAL' 'DET' 'MIA' 'BOS' 'DAL' 'GSW' 'CLE']
['CHI' 'ORL' 'IND' 'SEA' 'SAS' 'WSB' 'HOU' 'MIA' 'DEN' 'DET' 'GSW' 'LAL'
 'PHO' 'PHI' 'UTA' 'BOS' 'TOT' 'CHH' 'MIN' 'CLE' 'MIL' 'ATL' 'DAL' nan
 'POR' 'SAC' 'LAC' 'NYK' 'NJN' 'VAN' 'TOR' 'WAS' 'MEM' 'NOH' 'CHA' 'NOK'
 'OKC' 'BRK' 'NOP' 'CHO']
['CHI' 'NYK' 'IND' 'PHI' 'NJN' 'DET' 'MIA' 'CLE' 'BOS' 'ORL']
['SEA' 'UTA' 'SAS' 'LAL' 'DAL' 'OKC' 'GSW']

In [22]:
#df["mvp"] = 0
#df["mvp_total"] = 0
df["champion"] = 0
df["champion_total"] = 0
df["conference_champ"] = 0
for index, row in league.iterrows():
    year = row["Year"]
    name = row["MVP Name"]
    champ = row["NBA Champion"]
    df.loc[(df['seasonStartYear'] == year) & (df['team'] == champ),'champion'] = 1
    df.loc[(df['seasonStartYear'] == year) & (df['team'] == row['Eastern Champion']),'conference_champ'] = 1
    df.loc[(df['seasonStartYear'] == year) & (df['team'] == row['Western Champion']),'conference_champ'] = 1

In [23]:
player_info = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\player_info.csv')
player_info.head()

,playerName,From,To,Pos,Ht,Wt,birthDate,Colleges
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State
2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,"April 16, 1947",UCLA
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",LSU
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974","Michigan, San Jose State"

In [24]:
df["college"] = np.nan
for index, row in player_info.iterrows():
    name = row["playerName"]
    df.loc[(df['playerName'] == name),'college'] = row["Colleges"]

In [25]:
mvp = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\master_table.csv')
mvp = mvp[mvp['year'] <= 2017]
#change when calculating total
#mvp = mvp[mvp['year'] >= 1996]
mvp["Rank"] = mvp["Rank"].str.replace("T","")
mvp

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,turnover_percentage,usage_percentage,offensive_win_shares,defensive_win_shares,win_shares,win_shares_per_48_minutes,offensive_box_plus_minus,defensive_box_plus_minus,box_plus_minus,value_over_replacement_player
0,1,Kareem Abdul-Jabbar,32,LAL,147.0,147.0,221,0.665,82,38.3,...,15.7,24.1,9.5,5.3,14.8,0.227,4.8,2.4,7.2,7.3
1,2,Julius Erving,29,PHI,31.5,31.5,221,0.143,78,36.1,...,13.3,30.3,7.3,5.2,12.5,0.213,5.7,1.9,7.6,6.8
2,3,George Gervin,27,SAS,19.0,19.0,221,0.086,78,37.6,...,10.3,31.7,9.3,1.3,10.6,0.173,5.5,-1.6,3.9,4.4
3,4,Larry Bird,23,BOS,15.0,15.0,221,0.068,82,36.0,...,14.0,25.3,5.6,5.6,11.2,0.182,3.0,1.5,4.5,4.8
4,5,Tiny Archibald,31,BOS,2.0,2.0,221,0.009,80,35.8,...,19.7,17.0,5.9,2.9,8.9,0.148,1.4,-0.3,1.1,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,7,Giannis Antetokounmpo,22,MIL,0.0,7.0,1010,0.007,80,35.6,...,13.3,28.3,7.9,4.5,12.4,0.210,4.9,2.4,7.3,6.7
625,7,John Wall,26,WAS,0.0,7.0,1010,0.007,78,36.4,...,16.2,30.6,5.8,3.0,8.8,0.149,4.6,0.1,4.7,4.8
626,9,Anthony Davis,23,NOP,0.0,2.0,1010,0.002,75,36.1,...,9.1,32.6,5.9,5.1,11.0,0.195,4.4,1.4,5.9,5.4
627,9,Kevin Durant,28,GSW,0.0,2.0,1010,0.002,62,33.4,...,10.4,27.8,8.0,4.0,12.0,0.278,6.7,2.2,8.9,5.7
628,11,DeMar DeRozan,27,TOR,0.0,1.0,1010,0.001,74,35.4,...,9.0,34.3,6.7,2.4,9.0,0.166,4.1,-1.0,3.0,3.3

In [26]:
mvp.dtypes
mvp["Rank"].unique()

array(['1', '2', '3', '4', '5', '8', '9', '6', '7', '10', '11', '12',
       '14', '15', '17', '19', '21', '22', '24', '30', '13', '16', '18',
       '20'], dtype=object)

In [27]:
df["mvp"] = 0
df["mvp_rank"] = 100000
df["mvp_total"] = 0

for index, row in mvp.iterrows():
    year = row["year"]
    rank = row["Rank"]
    name = row["Player"]
    df.loc[(df['seasonStartYear'] == year) & (df['playerName'] == name),'mvp_rank'] = int(rank)
    if rank == '1':
        df.loc[(df['seasonStartYear'] == year) & (df['playerName'] == name),'mvp'] = 1
        df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'mvp_total'] =  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'mvp_total'] + 1

In [28]:
week = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\NBA_player_of_the_week.csv')
week["Date"] = week["Date"].astype(str)

def convert_date(data):
    #print(type(data))
    if not isinstance(data,str):
       return np.nan
    split_height = data.split(' ')
    
    return int(split_height[2])

week["Date"] = week['Date'].apply(convert_date)
week = week[week['Date'] <= 2017]
week.head()

,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Pre-draft Team,Real_value,Height CM,Weight KG,Last Season
108,DeMar DeRozan,Toronto Raptors,East,2017,GF,6'7,220,28,2009,8,2017-2018,2018,USC,0.5,201,99,0
109,Russell Westbrook,Oklahoma City Thunder,West,2017,G,6'3,200,29,2008,9,2017-2018,2018,UCLA,0.5,190,90,0
110,LeBron James,Cleveland Cavaliers,East,2017,F,6'8,250,33,2003,14,2017-2018,2018,St. Vincent St. Mary High School (Ohio),0.5,203,113,0
111,Chris Paul,Houston Rockets,West,2017,PG,6'0,175,32,2005,12,2017-2018,2018,Wake Forest,0.5,183,79,0
112,Victor Oladipo,Indiana Pacers,East,2017,G,6'4,210,25,2013,4,2017-2018,2018,Indiana,0.5,193,95,0

In [29]:
df["player_week_enc"] = 0
df["player_week_total"] = 0

for index, row in week.iterrows():
    year = row["Date"]
    name = row["Player"]
    
    df.loc[(df['playerName'] == name) & (df['seasonStartYear'] == year),'player_week_enc'] =  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] == year),'player_week_enc'] + 1
    df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'player_week_total'] =  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'player_week_total'] + 1

In [30]:
archetype = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\NBA Data 1980-2019.csv')
archetype.head()

,Year,Player,Pos,Tm,G,PER,Salary,MP,3P,2P,FT,TRB,AST,STL,BLK,TOV,PF,PTS,Archetype
0,1980,Swen Nater,C,SDC,81,17.2,NaN,35.3,0.0,5.5,2.4,15.0,2.9,0.6,0.5,3.2,3.2,13.4,All Star Post Scorer
1,1980,Marvin Webster,C,NYK,20,9.2,NaN,14.9,0.0,1.9,0.6,4.0,0.5,0.2,0.6,1.0,2.0,4.4,Post Scorer
2,1980,Raymond Townsend,SG,GSW,75,9.6,NaN,15.5,0.1,2.2,0.8,1.2,1.5,0.8,0.1,0.9,1.5,5.4,Sharpshooter
3,1980,Alonzo Bradley,SF,HOU,22,4.1,NaN,4.4,0.0,0.7,0.3,0.3,0.1,0.1,0.0,0.4,0.4,1.9,Ignorance
4,1980,Artis Gilmore,C,CHI,48,19.9,NaN,32.7,0.0,6.4,5.1,9.0,2.8,0.6,1.2,2.8,3.5,17.8,All Star Big Man

In [31]:
df["archetype"] = ""

for index, row in archetype.iterrows():
    archetypes = row["Archetype"]
    name = row["Player"]
    
    df.loc[(df['playerName'] == name),'archetype'] = archetypes 
df["archetype"] = df["archetype"].astype('category')

In [32]:
dpoy = pd.read_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\raw_data\dpoys.csv')
dpoy = dpoy[dpoy['Year'] <= 2017]
#change when calculating total
#mvp = mvp[mvp['year'] >= 1996]
dpoy["Rank"] = dpoy["Rank"].str.replace("T","")
dpoy

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Dennis Rodman,29,DET,51.0,51.0,96,0.531,82,...,12.5,1.0,0.8,0.7,0.493,0.200,0.631,8.7,0.151,1991
1,1,2,David Robinson,25,SAS,18.0,18.0,96,0.188,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
2,2,3,Alvin Robertson,28,MIL,15.0,15.0,96,0.156,81,...,5.7,5.5,3.0,0.2,0.485,0.365,0.757,7.7,0.142,1991
3,3,4,Joe Dumars,27,DET,3.0,3.0,96,0.031,80,...,2.3,5.5,1.1,0.1,0.481,0.311,0.890,9.9,0.155,1991
4,4,5,Hakeem Olajuwon,28,HOU,2.0,2.0,96,0.021,56,...,13.8,2.3,2.2,3.9,0.508,0.000,0.769,8.6,0.201,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,4,5,LeBron James,32,CLE,0.0,3.0,500,0.006,74,...,8.6,8.7,1.2,0.6,0.548,0.363,0.674,12.9,0.221,2017
414,5,5,Andre Roberson,25,OKC,0.0,3.0,500,0.006,79,...,5.1,1.0,1.2,1.0,0.464,0.245,0.423,4.2,0.085,2017
415,6,5,Hassan Whiteside,27,MIA,0.0,3.0,500,0.006,77,...,14.1,0.7,0.7,2.1,0.557,NaN,0.628,9.5,0.181,2017
416,7,8,LaMarcus Aldridge,31,SAS,0.0,1.0,500,0.002,72,...,7.3,1.9,0.6,1.2,0.477,0.411,0.812,7.2,0.149,2017
417,8,8,Patrick Beverley,28,HOU,0.0,1.0,500,0.002,67,...,5.9,4.2,1.5,0.4,0.420,0.382,0.768,5.3,0.123,2017

In [33]:
dpoy["Rank"].unique()

array(['1', '2', '3', '4', '5', '7', '6', '9', '10', '8', '11', '12',
       '13', '14', '16', '18', '21', '20', '23', '24', '15', '17', '19',
       '22', '25'], dtype=object)

In [34]:
df["dpoy"] = 0
df["dpoy_rank"] = 100000
df["dpoy_total"] = 0

for index, row in dpoy.iterrows():
    year = row["Year"]
    rank = row["Rank"]
    name = row["Player"]
    df.loc[(df['seasonStartYear'] == year) & (df['playerName'] == name),'dpoy_rank'] = int(rank)
    if rank == '1':
        df.loc[(df['seasonStartYear'] == year) & (df['playerName'] == name),'dpoy'] = 1
        df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'dpoy_total'] =  df.loc[(df['playerName'] == name) & (df['seasonStartYear'] >= year),'dpoy_total'] + 1

In [35]:
df.loc[df['playerName'] == 'LeBron James']

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary,startYear,position,height,weight,MP,...,college,mvp,mvp_rank,mvp_total,player_week_enc,player_week_total,archetype,dpoy,dpoy_rank,dpoy_total
3308,3308,LeBron James,2003,4018920,5944063,2004.0,F-G,81.0,250.0,NaN,...,NaN,0,100000,0,0,0,Superstar,0,100000,0
3764,3764,LeBron James,2004,4320360,6187794,2004.0,F-G,81.0,250.0,3122.0,...,NaN,0,9,0,2,2,Superstar,0,100000,0
4231,4231,LeBron James,2005,4621800,6456167,2004.0,F-G,81.0,250.0,3388.0,...,NaN,0,6,0,2,4,Superstar,0,100000,0
4676,4676,LeBron James,2006,5828090,7804183,2004.0,F-G,81.0,250.0,3361.0,...,NaN,0,2,0,5,9,Superstar,0,100000,0
5087,5087,LeBron James,2007,13041250,17006102,2004.0,F-G,81.0,250.0,3190.0,...,NaN,0,5,0,2,11,Superstar,0,100000,0
5550,5550,LeBron James,2008,14410581,17893184,2004.0,F-G,81.0,250.0,3027.0,...,NaN,0,4,0,5,16,Superstar,0,100000,0
6002,6002,LeBron James,2009,15779912,19877042,2004.0,F-G,81.0,250.0,3054.0,...,NaN,1,1,1,6,22,Superstar,0,2,0
6461,6461,LeBron James,2010,14500000,18074424,2004.0,F-G,81.0,250.0,2966.0,...,NaN,1,1,2,5,27,Superstar,0,4,0
6916,6916,LeBron James,2011,16022500,19285887,2004.0,F-G,81.0,250.0,3063.0,...,NaN,0,3,2,4,31,Superstar,0,9,0
7374,7374,LeBron James,2012,17545000,20772824,2004.0,F-G,81.0,250.0,2326.0,...,NaN,1,1,3,9,40,Superstar,0,4,0
7865,7865,LeBron James,2013,19067500,22186187,2004.0,F-G,81.0,250.0,2877.0,...,NaN,1,1,4,5,45,Superstar,0,2,0
8353,8353,LeBron James,2014,20644400,23533315,2004.0,F-G,81.0,250.0,2902.0,...,NaN,0,2,4,2,47,Superstar,0,6,0
8862,8862,LeBron James,2015,22970500,26152553,2004.0,F-G,81.0,250.0,2493.0,...,NaN,0,3,4,2,49,Superstar,0,13,0
9361,9361,LeBron James,2016,30963450,34904635,2004.0,F-G,81.0,250.0,2709.0,...,NaN,0,3,4,7,56,Superstar,0,11,0
9907,9907,LeBron James,2017,33285709,36919409,2004.0,F-G,81.0,250.0,2794.0,...,NaN,0,4,4,3,59,Superstar,0,5,0

In [36]:
df.loc[df['playerName'] == 'Michael Jordan']

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary,startYear,position,height,weight,MP,...,college,mvp,mvp_rank,mvp_total,player_week_enc,player_week_total,archetype,dpoy,dpoy_rank,dpoy_total
0,0,Michael Jordan,1996,30140000,52258566,1985.0,G-F,78.0,198.0,3090.0,...,NaN,1,1,4,2,20,All Star Post Scorer,0,6,0
415,415,Michael Jordan,1997,33140000,56169715,1985.0,G-F,78.0,198.0,3106.0,...,NaN,0,2,4,2,22,All Star Post Scorer,0,5,0
2573,2573,Michael Jordan,2001,1000000,1526382,1985.0,G-F,78.0,198.0,NaN,...,NaN,0,100000,5,0,23,All Star Post Scorer,0,100000,0
3023,3023,Michael Jordan,2002,1030000,1555569,1985.0,G-F,78.0,198.0,2093.0,...,NaN,0,13,5,0,23,All Star Post Scorer,0,100000,0

In [37]:
df

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary,startYear,position,height,weight,MP,...,college,mvp,mvp_rank,mvp_total,player_week_enc,player_week_total,archetype,dpoy,dpoy_rank,dpoy_total
0,0,Michael Jordan,1996,30140000,52258566,1985.0,G-F,78.0,198.0,3090.0,...,NaN,1,1,4,2,20,All Star Post Scorer,0,6,0
1,1,Horace Grant,1996,14857000,25759971,1988.0,F-C,82.0,215.0,2286.0,...,Clemson,0,100000,0,0,0,Post Scorer,0,8,0
2,2,Reggie Miller,1996,11250000,19505934,1988.0,G-F,79.0,185.0,2621.0,...,NaN,0,100000,0,1,2,All Star Sharpshooter,0,100000,0
3,3,Shaquille O'Neal,1996,10714000,18576585,1993.0,C,85.0,325.0,1946.0,...,NaN,0,9,0,2,6,Rim Protector,0,100000,0
4,4,Gary Payton,1996,10212000,17706187,1991.0,G,76.0,180.0,3162.0,...,NaN,0,6,0,0,1,Ignorance,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10487,10487,Marcus Thornton II,2017,46079,51109,NaN,NaN,NaN,NaN,NaN,...,NaN,0,100000,0,0,0,,0,100000,0
10488,10488,Jameel Warney,2017,46079,51109,2018.0,F,80.0,260.0,NaN,...,Stony Brook University,0,100000,0,0,0,Ignorance,0,100000,0
10489,10489,Aaron Jackson,2017,46079,51109,2018.0,G,76.0,185.0,NaN,...,Duquesne,0,100000,0,0,0,Sharpshooter,0,100000,0
10490,10490,Trey McKinney-Jones,2017,46079,51109,2018.0,G,77.0,214.0,NaN,...,"Missouri-Kansas City, Miami (FL)",0,100000,0,0,0,,0,100000,0
10491,10491,Andre Ingram,2017,46079,51109,2018.0,G,75.0,190.0,NaN,...,American University,0,100000,0,0,0,All Star Sharpshooter,0,100000,0

In [38]:
df.dtypes

Unnamed: 0               int64
playerName              object
seasonStartYear          int64
salary                   int64
inflationAdjSalary       int64
startYear              float64
position                object
height                 float64
weight                 float64
MP                     float64
PTS                    float64
Age                    float64
team                    object
games                  float64
games_started          float64
PER                    float64
FTr                    float64
AST                    float64
STL                    float64
TRB                    float64
FT                     float64
3P                     float64
FG                     float64
all_star                object
all_star_total           int64
all_star_enc             int64
all_nba                 object
all_nba_enc              int64
all_nba_total            int64
draft_pick               int64
champion                 int64
champion_total           int64
conference_champ         int64
college                 object
mvp                      int64
mvp_rank                 int64
mvp_total                int64
player_week_enc          int64
player_week_total        int64
archetype             category
dpoy                     int64
dpoy_rank                int64
dpoy_total               int64
dtype: object

In [39]:
df.to_csv(r'C:\Users\raoma\Documents\michigan\ml\EECS-545---Predicting-NBA-Player-s-Salary\data\cleaned_data\external_cleaned.csv')
#1996-2017