In [4]:
import numpy as np # for array operations
import pandas as pd # for working with DataFrames
import requests, io # for HTTP requests and I/O commands
import matplotlib.pyplot as plt # for data visualization
%matplotlib inline
# scikit-learn modules
from sklearn.model_selection import train_test_split # for splitting the data
from sklearn.metrics import mean_squared_error # for calculating the cost function
from sklearn.ensemble import RandomForestRegressor #

In [5]:
nba_initial = pd.read_csv('cleaned.csv', index_col=[0])
nba_initial

,playerName,seasonStartYear,salary,inflationAdjSalary,birthDate,startYear,position,height,weight,MP,...,games,games_started,PER,FTr,AST,STL,TRB,FT,3P,FG
0,Michael Jordan,1996,"$30,140,000","$52,258,566",1963-02-17,1985.0,G-F,6-6,198.0,3090.0,...,82.0,82.0,29.4,0.355,352.0,180.0,543.0,548.0,111.0,916.0
1,Horace Grant,1996,"$14,857,000","$25,759,971",1965-07-04,1988.0,F-C,6-10,215.0,2286.0,...,63.0,62.0,17.9,0.306,170.0,62.0,580.0,152.0,1.0,347.0
2,Reggie Miller,1996,"$11,250,000","$19,505,934",1965-08-24,1988.0,G-F,6-7,185.0,2621.0,...,76.0,76.0,20.1,0.467,253.0,77.0,214.0,430.0,168.0,504.0
3,Shaquille O'Neal,1996,"$10,714,000","$18,576,585",1972-03-06,1993.0,C,7-1,325.0,1946.0,...,54.0,52.0,26.4,0.495,155.0,34.0,596.0,249.0,1.0,592.0
4,Gary Payton,1996,"$10,212,000","$17,706,187",1968-07-23,1991.0,G,6-4,180.0,3162.0,...,81.0,81.0,19.6,0.240,608.0,231.0,339.0,229.0,98.0,618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11578,Paul Watson,2019,"$79,568","$84,399",1994-12-30,2020.0,G,6-6,210.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11579,Jarrell Brantley,2019,"$79,568","$84,399",1996-06-07,2020.0,F,6-5,250.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11580,Justin Wright-Foreman,2019,"$79,568","$84,399",1997-10-27,2020.0,G,6-0,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11581,Garrison Mathews,2019,"$79,568","$84,399",1996-10-24,2020.0,G,6-5,215.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11582,Malik Newman,2019,"$65,978","$69,984",1997-02-21,2020.0,G,6-3,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba = nba_initial.dropna()
nba

,playerName,seasonStartYear,salary,inflationAdjSalary,birthDate,startYear,position,height,weight,MP,...,games,games_started,PER,FTr,AST,STL,TRB,FT,3P,FG
0,Michael Jordan,1996,"$30,140,000","$52,258,566",1963-02-17,1985.0,G-F,6-6,198.0,3090.0,...,82.0,82.0,29.4,0.355,352.0,180.0,543.0,548.0,111.0,916.0
1,Horace Grant,1996,"$14,857,000","$25,759,971",1965-07-04,1988.0,F-C,6-10,215.0,2286.0,...,63.0,62.0,17.9,0.306,170.0,62.0,580.0,152.0,1.0,347.0
2,Reggie Miller,1996,"$11,250,000","$19,505,934",1965-08-24,1988.0,G-F,6-7,185.0,2621.0,...,76.0,76.0,20.1,0.467,253.0,77.0,214.0,430.0,168.0,504.0
3,Shaquille O'Neal,1996,"$10,714,000","$18,576,585",1972-03-06,1993.0,C,7-1,325.0,1946.0,...,54.0,52.0,26.4,0.495,155.0,34.0,596.0,249.0,1.0,592.0
4,Gary Payton,1996,"$10,212,000","$17,706,187",1968-07-23,1991.0,G,6-4,180.0,3162.0,...,81.0,81.0,19.6,0.240,608.0,231.0,339.0,229.0,98.0,618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10461,Adreian Payne,2017,"$77,250","$85,683",1991-02-19,2015.0,F-C,6-10,237.0,135.0,...,18.0,0.0,14.4,0.352,7.0,8.0,33.0,14.0,3.0,23.0
10465,James Young,2017,"$77,250","$85,683",1995-08-16,2015.0,G-F,6-6,215.0,220.0,...,29.0,0.0,10.0,0.155,4.0,10.0,26.0,6.0,12.0,25.0
10471,Darrun Hilliard,2017,"$77,250","$85,683",1993-04-13,2016.0,G,6-6,205.0,381.0,...,39.0,1.0,5.9,0.222,33.0,11.0,33.0,21.0,12.0,47.0
10481,Jonathan Gibson,2017,"$74,158","$82,253",1987-11-08,2017.0,G,6-2,185.0,231.0,...,17.0,0.0,9.5,0.305,26.0,8.0,22.0,21.0,15.0,35.0
10486,Daniel Ochefu,2017,"$50,000","$55,458",1993-12-15,2017.0,C,6-11,245.0,75.0,...,19.0,0.0,6.6,0.074,3.0,2.0,22.0,0.0,0.0,12.0

In [10]:
nba['inflationAdjSalary'] = nba['inflationAdjSalary'].str.replace('$', '')
nba['inflationAdjSalary'] = nba['inflationAdjSalary'].str.replace(',', '')
nba['inflationAdjSalary'] = nba['inflationAdjSalary'].astype(int)
nba['inflationAdjSalary_log'] = nba['inflationAdjSalary'].apply(lambda x: np.log(x))
nba

/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/703286028.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nba['inflationAdjSalary'] = nba['inflationAdjSalary'].str.replace('$', '')
/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/703286028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba['inflationAdjSalary'] = nba['inflationAdjSalary'].str.replace('$', '')
/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/703286028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba['inflationAdjSalary'] = nba['inflationAdjSalary'].str.replace(',', '')
/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/703286028.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba['inflationAdjSalary'] = nba['inflationAdjSalary'].astype(int)
/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/703286028.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba['inflationAdjSalary_log'] = nba['inflationAdjSalary'].apply(lambda x: np.log(x))

,playerName,seasonStartYear,salary,inflationAdjSalary,birthDate,startYear,position,height,weight,MP,...,games_started,PER,FTr,AST,STL,TRB,FT,3P,FG,inflationAdjSalary_log
0,Michael Jordan,1996,"$30,140,000",52258566,1963-02-17,1985.0,G-F,6-6,198.0,3090.0,...,82.0,29.4,0.355,352.0,180.0,543.0,548.0,111.0,916.0,17.771714
1,Horace Grant,1996,"$14,857,000",25759971,1965-07-04,1988.0,F-C,6-10,215.0,2286.0,...,62.0,17.9,0.306,170.0,62.0,580.0,152.0,1.0,347.0,17.064332
2,Reggie Miller,1996,"$11,250,000",19505934,1965-08-24,1988.0,G-F,6-7,185.0,2621.0,...,76.0,20.1,0.467,253.0,77.0,214.0,430.0,168.0,504.0,16.786229
3,Shaquille O'Neal,1996,"$10,714,000",18576585,1972-03-06,1993.0,C,7-1,325.0,1946.0,...,52.0,26.4,0.495,155.0,34.0,596.0,249.0,1.0,592.0,16.737412
4,Gary Payton,1996,"$10,212,000",17706187,1968-07-23,1991.0,G,6-4,180.0,3162.0,...,81.0,19.6,0.240,608.0,231.0,339.0,229.0,98.0,618.0,16.689425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10461,Adreian Payne,2017,"$77,250",85683,1991-02-19,2015.0,F-C,6-10,237.0,135.0,...,0.0,14.4,0.352,7.0,8.0,33.0,14.0,3.0,23.0,11.358410
10465,James Young,2017,"$77,250",85683,1995-08-16,2015.0,G-F,6-6,215.0,220.0,...,0.0,10.0,0.155,4.0,10.0,26.0,6.0,12.0,25.0,11.358410
10471,Darrun Hilliard,2017,"$77,250",85683,1993-04-13,2016.0,G,6-6,205.0,381.0,...,1.0,5.9,0.222,33.0,11.0,33.0,21.0,12.0,47.0,11.358410
10481,Jonathan Gibson,2017,"$74,158",82253,1987-11-08,2017.0,G,6-2,185.0,231.0,...,0.0,9.5,0.305,26.0,8.0,22.0,21.0,15.0,35.0,11.317555
10486,Daniel Ochefu,2017,"$50,000",55458,1993-12-15,2017.0,C,6-11,245.0,75.0,...,0.0,6.6,0.074,3.0,2.0,22.0,0.0,0.0,12.0,10.923381

In [11]:
X = nba[['MP', 'PTS', 'Age', 'games_started', 'PER', 'AST', 'STL', 'TRB', '3P']]
y = nba[['inflationAdjSalary_log']]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [17]:
model = RandomForestRegressor(n_estimators = 10, random_state = 0)

model.fit(X_train, y_train) 

y_pred = model.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: ",rmse)

/var/folders/2w/dyfxg9ln5k96swfq48d47ppc0000gn/T/ipykernel_47796/207186842.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RMSE:  0.8737083770707175